<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
        <title>{{ page.title }}</title>
    {% else %}
        <title>{{ site.name }}</title>
    {% endif %}

    <meta name="description" content="{{ site.description }}">

    {% if site.google_verification %}
        <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %}

    <link rel="icon" href="/assets/img/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>

    <div class="wrapper">
        {{ content }}
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/assets/js/yrss.js"></script>
<script>
  $('.rss-feed').rssfeed('http://vongomben.tumblr.com/rss', {

  // enable ssl
  ssl: false,

  // max number of items
  limit: 10,

  // show error message
  showerror: true,

  // custom error message
  errormsg: '',

  // show tags
  tags: false,

  // show <a href="http://www.jqueryscript.net/time-clock/">date</a>
  date: true,

  // date format
  dateformat: 'default',

  // heading tag for titles
  titletag: 'h4',

  // show content
  content: true,

  // show snippet
  snippet: true,

  // show snippet image
  snippetimage: false,

  // max number of characters
  snippetlimit: 120,

  // href target attribute
  linktarget: '_self'

}, function () {
  // optional callback function
});

</script>



</body>

</html>
